@using MovieManagement.ViewModels
@model MovieViewModel

@{
    ViewData["Title"] = "Edit Movie";
}


<form class="row g-3" asp-controller="Movie" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="col-md-6">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" readonly>
    </div>

    <div class="col-md-4">
        <label class="form-label" asp-for="LengthInMin"></label>
        <input class="form-control" asp-for="LengthInMin">
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="GenreId"></label>
        <select class="form-control" asp-for="GenreId" asp-items="Model.Genres"></select>
    </div>
    <div class="col-md-4">
        <label class="form-label" asp-for="ReleaseDate"></label>
        <input class="form-control" asp-for="ReleaseDate">
    </div>

    <div class="col-md-8">
        <label asp-for="Banner" class="form-label">Select Banner</label>
        <input class="form-control" asp-for="Banner">
    </div>
    <div class="col-4">
        <img class="img-thumbnail img-fluid" src="@Model.BannerDataUrl"/>
    </div>


    <div class="col-md-12">
        <label class="form-label" asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>